<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="book.model.dao.BookMapper">
    <select id="findAll" resultType="book.model.entity.Book">
        select
        *
        from
        tbl_BOOK

    </select>
    <select id="findByBookId" resultType="book.model.entity.Book">
        select
        *
        from
        tbl_book
        where
        book_id = #{bookId}

    </select>

    <select id="findByAuthor" resultType="book.model.entity.Book">
        select
        *
        from
        tbl_book
        where
        author = #{author}

    </select>

    <select id="findByCategory" resultType="book.model.entity.Book">
        select
        *
        from
        tbl_book
        where
        category = #{category}

    </select>


    <delete id="deleteBookById">
        delete from
            tbl_book
        where
            book_id = #{bookId}
    </delete>

    <update id="updateBookInfo">
        update
        tbl_book
        set
        title = #{title},
        author = #{author},
        description = #{description},
        price = #{price},
        category = #{category}
        where
        book_id = #{bookId}
    </update>

    <insert id="insertBook">
        insert into
        tbl_book
        values(
        #{bookId}, #{title}, #{author}, #{description}, #{price}, #{category}, NOW())

    </insert>

</mapper>