<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.order.model.dao.OrderMapper">
    <!-- 주문 정보 생성 -->
    <insert id ="insertOrder" useGeneratedKeys="true" keyProperty="orderId">
        insert into
            tbl_order (orderer_name, orderer_address, order_date, status)
        values (
            #{ordererName}, #{ordererAddress}, NOW(), #{status}
        )
    </insert>

    <insert id="insertOrderItem">
        INSERT INTO
        tbl_order_item (order_item_id, order_id, book_id, quantity)
        VALUES (
        #{orderItemId}, #{orderId}, #{bookId}, #{quantity}
        )
    </insert>

    <select id = "findOrderByStatus" resultMap="orderDtoMap">
        select
            *
        from
            tbl_order o
            left join tbl_order_item oi using(order_id)
            left join tbl_book b using(book_id)
        where
            status = #{status}
    </select>

    <select id = "findOrderById" resultMap = "orderDtoMap">
        select
            *
        from
            tbl_order o
            left join tbl_order_item oi using(order_id)
            left join tbl_book b on oi.book_id = b.book_id
        where
            o.order_id = #{orderId}
    </select>

    <resultMap id="orderDtoMap" type="orderDto">
        <!-- id : PK컬럼 매핑용 -->
        <id column="order_id" property="orderId"/>
        <!-- result : 그외 컬럼 매핑용 -->
        <result column ="orderer_name" property="ordererName"/>
        <result column ="orderer_address" property="ordererAddress"/>
        <result column ="order_date" property="orderDate"/>
        <result column ="status" property="status"/>
        <!-- 1:N관계의 테이블 행 매핑 -->
        <collection property="orderItemList" ofType="orderItemDto">
            <id column = "order_item_id" property="orderItemId"/>
            <result column="order_id" property="orderId"/>
            <result column="book_id" property="bookId"/>
            <result column="quantity" property="quantity"/>
            <!-- 1:1관계의 테이블 행 매핑 / book_id에 맞는 title 가져오기에 필요 -->
            <association property="book" javaType="bookDto">
                <id column = "book_id" property="bookId"/>
                <result column = "title" property="title"/>
            </association>
        </collection>
    </resultMap>
</mapper>