<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="True"/>
    </settings>

    <!--    mapper.xml에서 실제 클래스이름 대신 별칭을 사용할 수 있다.-->

    <typeAliases>
                <typeAlias type="com.sh.account.model.dto.AccountDto" alias="accountDto"></typeAlias>
                <typeAlias type="com.sh.book.model.dto.BookDto" alias="bookDto"></typeAlias>

        <!--        지정한 패키지 하위의 모든 클래스를 소문자로 시작하는 별칭으로 등록한다.-->
        <package name="com.sh"/>


    </typeAliases>


    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/wms_book_db"/>
                <property name="username" value="book"/>
                <property name="password" value="book"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="sql/account/account-mapper.xml"/>
        <mapper resource="sql/book/book-mapper.xml"/>
    </mappers>
</configuration>