<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.book.model.dao.BookMapper">
    <select id="selectAllBooks" resultType="com.sh.book.model.dto.BookDto">
        SELECT *
        FROM tbl_book
    </select>

    <select id="selectBookById" parameterType="int" resultType="com.sh.book.model.dto.BookDto">
        SELECT *
        FROM tbl_book
        WHERE book_id = #{bookId}
    </select>

    <select id="searchBookByCriteria" resultType="com.sh.book.model.dto.BookDto">
        SELECT *
        FROM tbl_book
        <where>
            <choose>
                <when test="title != null">
                    AND title LIKE CONCAT('%', #{title}, '%')
                </when>
                <when test="author != null">
                    AND author LIKE CONCAT('%', #{author}, '%')
                </when>
                <when test="category != null">
                    AND category LIKE CONCAT('%', #{category}, '%')
                </when>
                <when test="price != null">
                    AND (price = #{price})
                </when>
            </choose>
        </where>
    </select>

</mapper>
