<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.book.model.dao.BookMapper">
    <select id="findAllBooks" resultType="bookDto">
        select
            *
        from
            tbl_book
    </select>
    <select id="findByBookId" resultType="bookDto">
        select
            *
        from
            tbl_book
        where
            book_id = #{bookId}
    </select>
    <select id="findByTitle" resultType="bookDto">
        select
            *
        from
            tbl_book
        where
            title = #{title}
    </select>
    <select id="findByAuthor" resultType="bookDto">
        select
            *
        from
            tbl_book
        where
            author = #{author}
    </select>
    <select id="findByCategory" resultType="bookDto">
        select
            *
        from
            tbl_book
        where
            category = #{category}
    </select>
    <select id="findByPrice" resultType="bookDto">
        select
            *
        from
            tbl_book
        where
            price = #{price}
    </select>
    <insert id="insertBook" useGeneratedKeys="true" keyProperty="bookId">
        insert into
            tbl_book
        values (
            null, #{title}, #{author}, #{description}, #{price}, #{category}, null
        )
    </insert>
    <update id="updateBook">
        update
            tbl_book
        set
            title = #{title},
            author = #{author},
            description = #{description},
            price = #{price},
            category = #{category}
        where
            book_id = #{bookId}
    </update>
    <delete id="deleteBook">
        delete from
            tbl_book
        where
            book_id = #{bookId}
    </delete>
</mapper>