<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.book.model.dao.BookMapper">
    <resultMap id="bookDtoMap" type="bookDto">
        <id column="book_id" property="bookId"/>
        <result column="created_at" property="createdAt"/>
    </resultMap>
    <select id="findAll" resultMap="bookDtoMap">
        select
            *
        from
            tbl_book
    </select>

    <select id="findByBookId" resultMap="bookDtoMap">
        select
            *
        from
            tbl_book
        where
            book_id = #{bookId}
    </select>

    <select id="findByBookTitle" resultMap="bookDtoMap">
        select
            *
        from
            tbl_book
        where
            title = #{title}
    </select>

    <select id="findByBookAuthor" resultMap="bookDtoMap">
        select
            *
        from
            tbl_book
        where
            author = #{author}
    </select>
</mapper>
