<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.order.model.dao.OrderMapper">
    <select id="findAll" resultType="bookDto">
        select
        *
        from
        tbl_book
    </select>

    <insert id="insertOrder" useGeneratedKeys="true" keyProperty="orderId">
        insert into
            tbl_order (orderer_name, orderer_address)
        values (
            #{ordererName}, #{ordererAddress}
        )
    </insert>
    <insert id="insertOrderMenu" useGeneratedKeys="true" keyProperty="orderItemId">
        insert into
            tbl_order_item(order_id, book_id, quantity)
        values(
            #{orderId}, #{bookId}, #{quantity}
        )
    </insert>

    <select id="findByStatus" resultType="orderDto">
        select
            *
        from
            tbl_order
        where
            status = #{orderStatus}
    </select>

    <select id="findByOrderStatus" resultMap="orderDtoMap">
        select
            *
        from
            tbl_order o join tbl_order_item oi on o.order_id = oi.order_id
                join tbl_book b on oi.book_id = b.book_id
        where
            o.status = #{orderStatus};
    </select>
    <resultMap id="orderDtoMap" type="orderDto">
        <id column="order_id" property="orderId"/>
        <result column="orderer_name" property="ordererName"/>
        <result column="orderer_address" property="ordererAddress"/>
        <result column="orderer_date" property="ordererDate"/>
        <result column="status" property="status"/>

        <collection property="orderList" ofType="orderItemDto">
            <id column="order_item_id" property="orderItemId"/>
            <result column="order_id" property="orderId"/>
            <result column="book_id" property="bookId"/>
            <result column="quantity" property="quantity"/>
            <association property="book" javaType="bookDto">
                <id column="book_id" property="bookId"/>
                <result column="title" property="title"/>
                <result column="author" property="author"/>
                <result column="description" property="description"/>
                <result column="price" property="price"/>
                <result column="category" property="category"/>
                <result column="created_at" property="createdAt"/>
            </association>
        </collection>
    </resultMap>
</mapper>